.quiz-container {
    padding  : 15px;

    .title {
        font-size    : 28px;
        font-weight  : 600;
    }

    .add-new {
        legend {
            font-size  : 18px;
        }
    }

    .lits-detail {}
}