.admin-container {
    display  : flex;

    .admin-sidebar {
        .pro-sidebar {
            height  : 100vh !important;
        }
    }

    .admin-content {
        width  : 100%;

        .admin-header {
            padding          : 0 20px 0 10px;
            align-items      : center;
            display          : flex;
            justify-content  : space-between;
            height           : 60px;
            cursor           : pointer;

            .left-side {
                font-size  : 22px;
                color      : #889793;
            }

            .right-side {
                display  : flex;
                gap      : 15px;
            }
        }

        .admin-main {
            height  : calc(100vh - 50px);

            .user-pagination {
                display          : flex;
                justify-content  : center;
            }
        }
    }
}