.dashboard-container {
    padding  : 15px;

    .title {
        font-size    : 25px;
        font-weight  : 600;
    }

    .content {
        display  : flex;
        height   : 300px;

        .content-left {
            display    : flex;
            width      : 50%;
            border     : 1px solid red;
            flex-wrap  : wrap;

            .child {
                width            : 50%;
                display          : flex;
                align-items      : center;
                justify-content  : center;
            }
        }

        .content-right {
            width   : 50%;
            border  : 1px solid rgb(16, 37, 153);
        }
    }
}