.dashboard-container {
    padding  : 15px;

    .title {
        font-size      : 25px;
        font-weight    : 600;
        margin-bottom  : 20px;
    }

    .content {
        display  : flex;
        height   : 300px;
        gap      : 20px;

        .content-left {
            width      : 50%;
            flex-wrap  : wrap;
            display    : flex;
            gap        : 20px;

            .child {
                width            : calc(50% - 10px);
                border           : 2px solid #ccc;
                display          : flex;
                align-items      : center;
                justify-content  : center;
                border-radius    : 5px;
                flex-direction   : column;
                font-size        : 20px;
            }
        }

        .content-right {
            width   : 50%;
            height  : 360px;
        }
    }
}