.manage-user-container {
    .users-content {
        .btn-add-new {
            margin  : 15px 0;
        }

        .table-users-container {}
    }

    .title {
        font-weight  : 600;
        font-size    : 20px;
    }
}

.modal-add-user {

    input:invalid {
        border  : 1px solid red;
    }

    input[type=password]:invalid {
        border  : 1px solid red;
    }

    .img-preview {
        height           : 150px;
        border           : 1px dashed #ccc;
        border-radius    : 5px;
        display          : flex;
        justify-content  : center;
        align-items      : center;
        color            : #ccc;

        img {
            max-width   : 100%;
            max-height  : 100%;
        }
    }

    .label-upload {
        display        : flex;
        gap            : 5px;
        align-items    : center;
        border         : 1px solid red;
        width          : fit-content;
        padding        : 3px 10px;
        border-radius  : 5px;
        background     : #198754;
        color          : #fff;
        border         : none;
        cursor         : pointer;

        &:hover {
            opacity  : 0.8;
        }
    }
}