.languages {
    margin-bottom  : 8px;
    margin-left    : 10px;
    margin-right   : 10px;

    img {
        height        : 18px;
        width         : 18px;
        margin-right  : 5px;
    }
}