.display-infor-container {
    .red {
        color  : red;
    }

    .green {
        color  : green;
    }

    .logo {
        height   : 150px;
        width    : 150px;
        display  : flex;
    }
}