.form-label {
    background-color  : rgb(24, 200, 200);
    padding           : 6px;
    border-radius     : 5px;
    cursor            : pointer;
}

.img-preview {
    height           : 150px;
    width            : 150px;
    border           : 2px dashed rgb(199, 183, 183);
    border-radius    : 5px;
    display          : flex;
    justify-content  : center;
    align-items      : center;
    cursor           : pointer;
    color            : #ccc;

    img {
        max-width   : 100%;
        max-height  : 100%;
    }
}