body {
  overflow  : hidden;
  padding   : 0;
  margin    : 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing   : antialiased;
  -moz-osx-font-smoothing  : grayscale;
}

.languages {
  .dropdown-toggle::after {
    display  : none !important;
  }
}

@media(min-width:1350px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width  : 1300px !important;
  }
}

.app-container {

  .header-container {
    .logo {
      font-size     : 40px;
      margin-right  : 12px;
      color         : #eb5656;
    }

    .btn-login {
      border-radius  : 5px;
      margin-right   : 15px;
      padding        : 8px 6px;
      border         : 1px solid #262627;
      width          : 75px;
      height         : 41px;
      background     : none;
      font-size      : 12px;

      &:hover {
        opacity  : 0.8;
      }
    }

    .btn-signup {
      border-radius  : 5px;
      padding        : 8px 16px;
      background     : #262627;
      color          : #fcfcfc;
      border         : none;
      width          : 86px;
      height         : 41px;
      font-size      : 14px;

      &:hover {
        opacity  : 0.8;
      }
    }

    .account-image {
      display  : flex;
      gap      : 13px;

      img {
        height         : 30px;
        width          : 30px;
        border-radius  : 50%;
        object-fit     : cover;
        border         : 2px solid #e1d1d1;
      }

      .accEmail {
        margin-right  : 5px;
        margin-left   : -5px;
      }
    }

    .dropdown-toggle:after {
      content  : none
    }

    .navbar {
      padding-top            : 20px;
      z-index                : 10;
      background-color       : rgb(250 250 250) !important;
      // background-color  : rgba(185, 33, 33, 0) !important;

      .nav-link {
        &.active {
          color  : #00bfff;
        }
      }
    }


  }

  .app-content {
    height  : calc(100vh - 60px);
  }


  .homepage-content {
    padding         : 72px;
    width           : 50%;
    position        : relative;
    display         : flex;
    flex-direction  : column;
    gap             : 30px;
    margin-top      : 24px;

    .title-1 {
      font-size    : 75px;
      font-weight  : 350;
      line-height  : 1.2;
    }

    .title-2 {
      font-size  : 24px;

    }

    .title-3 {
      font-size  : 16px;

      button {
        padding           : 12px 24px;
        width             : 197px;
        height            : 49px;
        border-radius     : 4px;
        background-color  : #262627;
        color             : #fcfaf8;
        border            : none;

        &:hover {
          opacity  : 0.8;
        }
      }
    }
  }
}

video {
  position  : fixed;
  bottom    : 0;
  width     : 100vw;
}